.App {
  padding-top: 50px;
}

.register {
  justify-content: center;
}

.form {
  padding-top: 25px;
}

.btn-center {
  text-align: center;
}

.nav-tabs .nav-link {
  width: 50% !important;
  text-align: center;
  border-radius: 0 !important;
}

.nav-tabs .nav-link.active {
  border-color: #dee2e6 #dee2e6 #dee2e6 !important;
  background-color: #ecf0f3 !important;
}

.google-btn {
  background-color: white;
  color: black;
  border: none;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 1px 4px rgb(0 0 0 / 12%);
}
